body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 2%;
}

.header:hover {
  color: #2e2f42;
}

a {
  font-family: raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 3%;
  line-height: 1.6667;
  width: 71px;
}

.logo {
  color: #4d5ae5;
  width: 44px;
}

.logo1 {
  color: #2e2f42;
  width: 71px;
}

.Studio {
  width: 48px;
  color: #2e2f42;
}

.Portfolio {
  width: 66px;
  color: #2e2f42;
}

.Contacts {
  width: 67px;
  color: #2e2f42;
}

.mail {
  width: 153px;
  font-weight: 400;
  color: #434455;
}

.tel {
  width: 151px;
  font-weight: 400;
  color: #434455;
}

.section {
  background-color: #2e2f42;
  width: 1440px;
}

.h1 {
  width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1, 071;
  color: #ffffff;
  text-align: center;
}

main > section > button {
  width: 169px;
}

.button {
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  letter-spacing: 4%;
  color: #ffffff;
  background-color: #4d5ae5;
}

.section1 {
  width: 1128px;
}

.feature {
  width: 264px;
  font-size: 20px;
  line-height: 1, 2;
}

.feature-text {
  width: 264px;
  font-weight: 400;
  color: #434455;
}

.section2 {
  width: 1440px;
  background-color: #f4f4fd;
}

.our-team {
  width: 162px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 111;
  text-align: center;
}

.team {
  width: 134px;
  font-size: 20px;
  line-height: 1, 2;
  text-align: center;
}

.team-text {
  width: 128px;
  font-weight: 400;
  color: #434455;
  text-align: center;
}

.team1 {
  width: 88px;
  font-size: 20px;
  line-height: 1, 2;
  text-align: center;
}

.team-text1 {
  width: 144px;
  font-weight: 400;
  color: #434455;
  text-align: center;
}
.team2 {
  width: 130px;
  font-size: 20px;
  line-height: 1, 2;
  text-align: center;
}

.team-text2 {
  width: 75px;
  font-weight: 400;
  color: #434455;
  text-align: center;
}

.team3 {
  width: 127px;
  font-size: 20px;
  line-height: 1, 2;
  text-align: center;
}

.team-text3 {
  width: 85px;
  font-weight: 400;
  color: #434455;
  text-align: center;
}

.section3 {
  width: 1128px;
  background-color: #e7e9fc;
}

.our-portfolio {
  width: 218px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 111;
  text-align: center;
}

.port1 {
  width: 118px;
  font-size: 20px;
  line-height: 1, 2;
}
.port-text1 {
  width: 30px;
  font-weight: 400;
  color: #434455;
}
.port2 {
  width: 172px;
  font-size: 20px;
  line-height: 1, 2;
}
.port-text2 {
  width: 75px;
  font-weight: 400;
  color: #434455;
}
.port3 {
  width: 438px;
  font-size: 20px;
  line-height: 1, 2;
}
.port-text3 {
  width: 30px;
  font-weight: 400;
  color: #434455;
}
.port4 {
  width: 113px;
  font-size: 20px;
  line-height: 1, 2;
}
.port-text4 {
  width: 75px;
  font-weight: 400;
  color: #434455;
}
.port5 {
  width: 181px;
  font-size: 20px;
  line-height: 1, 2;
}
.port-text5 {
  width: 51px;
  font-weight: 400;
  color: #434455;
}
.port6 {
  width: 142px;
  font-size: 20px;
  line-height: 1, 2;
}
.port-text6 {
  width: 75px;
  font-weight: 400;
  color: #434455;
}

.logo2 {
  width: 71px;
  color: #f4f4fd;
}
.footer {
  width: 1440px;
  background-color: #2e2f42;
}
.footer-text {
  width: 264px;
  font-weight: 400;
  color: #f4f4fd;
}
